<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" >
    <listeners>
        <listener class-name="com.techInc.APITestingFramework.listeners.ExtentListeners"></listener>
    </listeners>
    <test name="Create Customer API Test">
        <classes>
            <class name="com.techInc.APITestingFramework.testcases.CreateCustomerTest"/>
        </classes>
    </test>

    <test name="Delete Customer API Test">
        <classes>
            <class name="com.techInc.APITestingFramework.testcases.DeleteCustomerTest"/>
        </classes>
    </test>
</suite>